// -*- mode: closure-template-html -*-

{namespace zlorec.view}

{template implementation-info}
  {$type} {$version}
{/template}

{template main-view}
  <div class="header">
    ZLO Recovery
  </div>

  {$body |noAutoescape}
  
  <div class="footer">
    Powered by
    {call implementation-info data="$impl" /}
  </div>
{/template}

{template graph-form}
  <form action="{$graphurl}" method="post">
    <div>
      Username: <input type="text" name="user" />
    </div>
    <div>
      <input type="text" name="amount" value="12" /> 
      <input type="radio" name="unit" value="day" /> days
      <input type="radio" name="unit" value="month" checked /> months
      <input type="radio" name="unit" value="year" /> years
      (<input type="radio" name="type" value="cal" checked /> Calendar	
      <input type="radio" name="type" value="nat" /> From now )
    </div>
    <input type="submit" name="send" value="Send" />
  </form>
{/template}

{template pulse-form}
  <form action="{$graphurl}" method="post">
    <div>
      Username: <input type="text" name="user" />
    </div>
    <input type="submit" name="send" value="Send" />
  </form>
{/template}

{template graph}
  <div><object data="{$graph}"></object></div>
  <div><a href="{$graph}">Direct link</a></div>
  <div><a href="{$return}">Return</a></div>
{/template}

{template pulse}
  <div><object data="{$graph1}"></object></div>
  <div><a href="{$graph1}">Direct link</a></div>
  <div><object data="{$graph2}"></object></div>
  <div><a href="{$graph2}">Direct link</a></div>
  <div><a href="{$return}">Return</a></div>
{/template}

{template svg-bar}
  <rect x="{$offset}" y="{$bottom - $y}" height="{$y}" width="{$x}"
     	fill="gray" stroke="black" />
  <text x="{$offset + $x / 5.0}" y="{$bottom + 20}" font-size="14">
    {$subscript}
  </text>
{/template}

{template svg-horizontal-mark}
  <line x1="{$border}" y1="{$y}" x2="{$width - $border}" y2="{$y}" 
	stroke="black" stroke-width="1px" />
  <text x="0" y="{$y}" font-size="14">
    {$mark}
  </text>
{/template}

{template svg-bar-graph}
  <?xml version="1.0" encoding="utf-8" standalone="yes"?>
  <svg version = "1.1"
       baseProfile="full"
       xmlns = "http://www.w3.org/2000/svg" 
       xmlns:xlink = "http://www.w3.org/1999/xlink"
       xmlns:ev = "http://www.w3.org/2001/xml-events"
       height = "{$height}"  width = "{$width}">
    {if $error}	     
      <text x="20" y="40" font-size="24">
    	{$error}
      </text>
      {else}
      <rect x="{$bwidth}" y="{$bheight}" 
     	    width="{$width - 2 * $bwidth}" 
	    height="{$height - 2 * $bheight}" 
            fill="none" stroke="black" stroke-width="5px" stroke-opacity="0.5"/>
      {foreach $val in $values}
     	{call svg-bar data="$val" /}
      {/foreach}
      {foreach $mark in $marks}
     	{call svg-horizontal-mark data="$mark" }
	  {param width: $width /}
	  {param border: $bwidth /}
	{/call}
      {/foreach}
      <text x="{$bwidth}" y="{$bheight - 12}" font-size="24">
       	{$title}
      </text>
    {/if}
  </svg>
{/template}

{template retrieved}
  <div>Last retrieved message: {$lastid}</div>
  <div>Last unparsed message: {$lastbad}</div>
  <div>Number of messages: {$msgnum}</div>
  <div>Number of unparsed: {$badnum}<div>
{/template}
